@media (max-width:750px) {

    body{
        width: 98vw;
        margin: auto;
    }

    .logo{
        /* background-color: red; */
        width: 350px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        /* display: none; */
    }
    
    .logo img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        /* display: none; */

    }
    
    #nav-bar{
        background-color: transparent;
        /* background-color: #fff; */
        justify-content: center;
        align-items: center;
        width: 90vw;
        height: 13vh;
        margin-top: 2vh;
        padding-bottom: 4vh;
        /* display: none; */

    }
    
    .choices{
        display: none;
    }
    
    .main-display{
        background-color: #AB4CCD;
        /* background-color: red; */
        width: 98%;
        margin: auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
        /* padding-bottom: 20px; */
        /* display: none; */
        bottom: 0px;
    }
    
    .main-text{
        width: 100%;
        padding-bottom: 30px;
        /* background-color: #fff; */
        text-align: center;
        /* display: none; */

    }
    
    .main-text h1{
        font-size: 60px;
        font-weight: 600;
        color: #D8EEF9;
        /* display: none; */

    }
    
    .main-text span{
        color: #2E0F31;
        /* display: none; */

    }
    
    .main-text p{
        font-size: 17px;
        color: #D8EEF9;
        /* display: none; */

    }
    
    .main-display-img{
        width: 98%;
        height: 100%;
        background-color: #2E0F31;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        /* display: none; */

    }
    
    .main-display-img img{
        width: 400px;
        height: 350px;
        margin-right: 95px;
        /* display: none; */
    }


    #game-option{
        /* background-color: #2E0F31; */
        background-color: blue;
        width: 98%;
        height: fit-content;
        margin: auto;
        gap: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 3% ;
        /* display: none; */
    }

    .option-box{
        /* background-color: pink; */
        width: 98%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* display: none; */
    }

    .box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0%;
        /* display: none; */

    }
    
    .preview{
        /* background-color: #AB4CCD; */
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40%;
        margin: auto;
        border-radius: 0px;
        /* display: none; */

    }

    .preview-img{
        display: flex;
        /* background-color: green; */
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        /* display: none; */
    }

    .preview-text{
        width: 100%;
        /* background-color: #D8EEF9; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 15px 0px;
        border-radius: 0%;
        /* display: none; */
    }
    
    .preview-text h2{
        padding-top: 5px;
        width: 90%;
        text-align: center;
        font-size: 25px;
        color: #2E0F31;
        margin: 0px;

    }
    
    .preview-text h3{
        padding: 30px;
        text-align: center;
        font-weight: 300;
        line-height: 1.7;
        font-size: 15px;
        margin: 0px;
        /* display: none; */

    }

    .play-button{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    
    .play-button button{
        width: 120px;
        height: 30px;
        background-color: #AB4CCD;
        color: #D8EEF9;
        border: 0px;
        font-size: 13px;
        font-family: "Outfit", sans-serif;
        border-radius: 10px;
        /* display: none; */

    }
    
    .box-img{
        display: none;

    }
    
    .box-img img{
        display: none;

    }

    
    
}