body{
    background-color: #15123A;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid{
    width: 600px;
    height: 600px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    /* margin: auto; */
    background-color: red;
    background-image: url(./space4.jpg) ;
    opacity: 0.6;
    object-fit: contain;
    background-position: center;
    background-size: contain;
    z-index: 1;
}

.grid div{
    width: 40px;
    height: 40px;
}

.invader{
    background-color: rgb(29, 0, 26);
    border-radius: 50px;
    z-index: 5;
}

.shooter{
    background-color: cornflowerblue;
}

.laser{
    background-color: orange;
}

.boom{
    background-color: red;
}

.results{
    background-color: #9A599D;
    width: 15%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 5px;
}