@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightsteelblue;
    background-color: #D8EEF9 ;
    font-family: "Outfit", sans-serif;
}

.score-board{
    background-image: url(./wood.jpg);
    color: #D8EEF9 ;
    width: 400px;
    height: 400px;
    border-radius: 25px;
    margin-top: 70px;
    text-align: center;
    border: 1px solid grey ;
}

h1{
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
}

h2{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.grid{
    width: 620px;
    height: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.square{
    height: 200px;
    width: 200px;
    border: 1px solid grey;
    border-radius: 5px;
}

.square:nth-child(1){
    background-color: #349fdd;

}

.square:nth-child(2){
    background-color: #2ef1ee;
}

.square:nth-child(3){
    background-color: #1f9997;
}

.square:nth-child(4){
    background-color: #33C4C8;

}

.square:nth-child(5){
    background-color: #1ab6d1;

}
.square:nth-child(6){
    background-color: #349fdd;


}
.square:nth-child(7){
    background-color: #2ef1ee;
}
.square:nth-child(8){
    background-color: #34c9dd;

}

.square:nth-child(9){
    background-color: #2ef1ee;
}

.mole{
    background-image: url('mole2.jpg');
    background-size: cover;
}